html{
    scroll-behavior: smooth;
}
body::before{
    display: block;
    content: " ";
    height: 60px;
}

@media (min-width: 768px) {
    .news-input{
        width: 50%;
    }
}

.bg-space{
    background-color: #041525;
}

.text-space{
    color:  #041525;
}

#map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.rounded-right{
    border-radius: 0;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

/*? Up Button */
#btn-back-to-top{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 90px;
    right: 10px;
    border-radius: 50%;
    border-color: #d19f1441;
    background-color:transparent;

    display: none;
    color: gold;

    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 24px;

    transition:  .23s ease-in-out;
    transition-property: background-color, color;
}

#btn-back-to-top:hover, #btn-back-to-top:focus{
    background-color: #041525;
    color: white;
}
