*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
}

body{
    background-color: #ddd;
}

.top-section{
    position: relative;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 50%;
}
 
.logo-text{
    display: none;

    font-size: 36.6px;
    color: white;
    font-weight: 500;
}

.sidebar{
    width: 99px;
    /* 100% percents */
    height: 100vh; 

    position: fixed;
    background-color: rgb(5, 26, 54);
    transition: .3s linear;
    padding: 10px 14px;
    
}

.sidebar-toggle-btn{
    position: absolute;
    top:-4px;
    right: -27px;
    line-height: 45px;
    
    transform: translateY(50%);
    text-align: center; 
    width: 45px;
    height: 45px;
    color: rgb(5, 26, 54);
    background-color: #ddd;
    border-radius:50%;
    font-size: 17px;
    cursor: pointer;
    transition: 0.4s linear;

}

.sidebar-toggle-btn:hover{
    background-color: rgb(5, 26, 54);
    color: white;
}

.sidebar.active{    
    width: 300px;
}
.sidebar.active .logo-text{
    display: block;
}

.sidebar.active .sidebar-toggle-btn{
    transform: translateY(50%) rotate(180deg);
}


.side-bar-menu{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 80px);
}

.sidebar-link{
    height: 52px;
    margin-bottom: 10px;
    display: flex;
    align-items:center;
    position: relative;

    color: white;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    font: bold;
    font-size: 20px;
    border-radius:12px;
}
.sidebar-link i{
    min-width: 35px;
    font-size: 23px;
    text-align: center;
}

.sidebar-link::before{
    content:"";
    position: absolute;
    width: 0;
    height: 100%;
    background-color:#223140;
    z-index:-1;
    transition: .4s;
}
.sidebar-link:hover::before{
    width: 100%;
}

